.node-container {
  text-align: left;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: 4px solid rgba(0, 0, 0, 0);
  box-shadow: 0 1px 4px 1px #070c141f;
  border-radius: 12px;
  padding: 12px;
  background: #fff;

  &:hover {
    box-shadow: 0 2px 8px 1px #070c1429;
  }
}

.node-selected {
  border: 2px solid #2468f2;
}

.node-error {
  border: 2px solid red;
}

.dialog-title {
  .node-title {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
    height: 24px;

    .node-icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}

.common-area {
  padding: 12px;
  color: #5c5f66;
  border-radius: 8px;
  background-color: #f9f9fb;
  line-height: 20px;
}

.common-title {
  flex: 1;
  color: #151b26;
  font-weight: 500;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.node-area-bg {
  font-size: 14px;
  padding: 12px;
  color: #5c5f66;
  border-radius: 8px;
  background-color: #f9f9fb;
  line-height: 20px;
  margin-top: 8px;
}

.node-area-content {
  margin-top: 4px;
}
